@model System.Data.DataTable
@{
    ViewBag.Title = "Index";
}

<br />

<br />
 <!-- Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                        <h2>All Product</h2>
                        <p>All of product will shown in the Data Table</p>
                        <br /><br />
                        <a href="@Url.Action("Create", "Product")">
                            <button class="btn btn-success notika-btn-success">Add New Product </button>
                        </a>
                    </div>
                    <br />
                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Stock</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            @for (int i = 0; i < Model.Rows.Count; i++)
                            {
                                <tr>
                                    <td>@Model.Rows[i][1]</td>
                                    <td>@Model.Rows[i][2]</td>
                                    <td>@Model.Rows[i][3]</td>
                                    <td>
                                        <a href="@Url.Action("Details", "Product", new { @id = Model.Rows[i][0] })">View</a>
                                    &nbsp;&nbsp;
                                    <a href="@Url.Action("Edit", "Product", new { @id = Model.Rows[i][0] })">Edit</a>
                                        &nbsp;&nbsp;
                                    <a onclick="return confirm('Are you sure to delete this Product ?');" href="@Url.Action("Delete","Product",new { @id=Model.Rows[i][0] })">Delete</a>
                                        
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data Table area End-->


